body {
    background: #eaeaea;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 30px;
}

@page {
    size: A4;
    margin: 0;
}

a {
    text-decoration: none;
}

aside {
    animation: 1s ease-out 2s 1 forwards fadeIn;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    opacity: 0;
}

.button {
    margin-left: 12px;
    width: 50px;
    height: 50px;
    border-radius: 300px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: #ff4081;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 22pt;
    cursor: hand;
    position: relative;
}

.button .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    font-size: 10pt;
}

.button:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.cta {
    position: absolute;
    width: 100%;
}

.button .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.button:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.spacer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 60px;
    margin-bottom: 60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #3f51b5;
    padding: 50px 0 50px 0;
    color: white;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 67pt;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-size: 25pt;
    font-family: 'Pathway Gothic One', sans-serif;
    margin-bottom: 15px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14pt;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

h4>span {
    border-left: 1px solid white;
    margin-left: 10px;
    padding-left: 10px;
}

.fullwidth {
    width: 900px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.xp-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.xp-item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bull {
    position: relative;
    font-size: 10px;
    left: 5px;
    top: 27px;
}

.xp-time {
    box-sizing: border-box;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    padding-top: 23px;
}

.xp-job-desc {
    font-size: 10pt;
}

.xp-desc {
    box-sizing: border-box;
    width: 80%;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 2px solid black;
}

.xp-company {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
}

.about-text {
    max-width: 900px;
    font-family: 'Open Sans', sans-serif;
}

h5>span {
    border-left: 1px solid #434343;
    padding: 0 0 0 20px;
    margin-left: 20px;
}

#skills {
    display: none;
}

.cert-container {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.cert-reset {
    margin-bottom: 0;
}

.cert-issuer::before {
    content: "Issuer: ";
    font-weight: 700;
}

.cert-date::before {
    content: "Date obtained: ";
    font-weight: 700;
}

@media print {
    section {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 22px;
        padding: 0;
    }
    .spacer {
        background: white;
        padding-bottom: 30px;
        margin-bottom: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0) !important;
    }
    body {
        font-size: 10pt;
    }
    header {
        padding: 0;
    }
    .container {
        width: 80%;
        margin-top: 0px;
    }
    .fullwidth {
        width: 80%;
    }
    h1 {
        font-size: 30pt;
        color: black;
    }
    h4 {
        color: #434343;
    }
    h2 {
        font-size: 12pt;
        font-family: 'Open Sans', sans-serif;
    }
    h4>span {
        border-left: 1px solid #434343;
    }
    p {
        font-size: 10pt;
    }
    .break {
        margin-top: 0 !important;
        page-break-before: always;
    }
    .skills {
        display: flex;
    }
    #skills {
        /* page-break-before: always; */
        display: flex;
    }
    .xp-job-desc {
        font-size: 8pt;
    }
    h5>span {
        border-left: 1px solid #434343;
        padding: 0 15px 0 15px;
    }
    .about-text {
        font-size: 10pt;
    }
    aside {
        display: none;
    }
    .xp-desc {
        padding-top: 10px;
        padding-bottom:15px;
    }
    .xp-company 
    {
        padding-bottom:3px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        padding: 0;
    }
    .spacer {
        margin-bottom: 0;
    }
    #print {
        display: none;
    }
    h1 {
        font-size: 41pt;
    }
    p {
        padding: 0 20px 0 20px;
    }
    h4 {
        font-size: 12pt;
    }
    h4>span {
        border: none;
    }
    h4>span::before {
        content: '\A';
        white-space: pre;
    }
    .xp-item {
        flex-direction: column;
        margin-bottom: 40px;
    }
    .xp-time {
        width: 100%;
        text-align: left;
        padding: 0 20px 0 20px;
    }
    .xp-desc {
        width: 100%;
        border: none;
        padding: 0 20px 0 20px;
    }
    .fa {
        display: none;
    }
    .bull {
        display: none;
    }
    .cert-container {
        width: 100%;
        padding: 0 20px 0 20px;
    }
}
